# llama-index==0.9.48
# llama-index-embeddings-huggingface==0.1.5
# llama-index-vector-stores-chroma==0.1.6
# llama-index-llms-groq==0.1.4
# chromadb==0.4.24
# pydantic==2.5.0
# python-dotenv==1.0.0
# requests==2.31.0
# groq==0.4.2

llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-groq
chromadb
pydantic
python-dotenv
requests
groq
